
<div class="-mt-4 container group">
  <div class="w-full flex justify-end">
    {{#link-to "account.card.edit" card.id class="no-underline"}}
      <button class="rounded-full bg-purple-buttons text-white font-thin py-2 px-4 rounded-full block z-10 hover:shadow-lg invisible group-hover:visible">Edit</button>
    {{/link-to}}
  </div>
  <div class="w-full overflow-hidden -mt-3 bg-white rounded-lg shadow">
    <div class="flex justify-between w-4/5 mx-auto py-6">
      <div class="flex flex-wrap -ml-10 items-center">
        <img src="/img/visa.png" class="h-8 w-auto mr-4" alt="visa">
        <div>
          <p class="text-purple-history-header pb-2 capitalize font-sm">name</p>
          <p class="capitalize">{{card.name}}</p>
        </div>
      </div>
      <div class="">
        {{#if card.primary}}
          <p class="rounded-full border border-purple-buttons text-purple-buttons font-thin py-2 px-4 rounded-full block z-10 text-xs">Primary</p>
        {{/if}}
      </div>
    </div>
    <div class="hidden group-hover:block">
      <div class="w-4/5 mx-auto justify-between py-6 pb-8 flex">
        <div>
          <p class="text-purple-history-header pb-2 capitalize font-sm">Details</p>
          <p>{{card.cardType}} that ends in {{card.lastFourDigits}}</p>
        </div>
        <div>
          <p class="text-purple-history-header pb-2 capitalize font-sm">Expires</p>
          <p>{{card.expiryMonth}} / {{card.expiryYear}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
