<div class="w-full mt-4">
  <div class="w-full rounded-lg overflow-hidden shadow-md mx-2 mb-4 cursor-pointer">
    <div class="image w-full bg-grey-lightest px-8 py-6 text-sm flex">
      <p class="flex-1">
        {{recurring.campaign.description}}
      </p>
      <p class="flex-1 text-right">
        Last donation: 01/05/18
      </p>
    </div>
    <div class="px-6 py-2 pb-6">
      <div class="mt-4 flex">
        <p class="text-lg font-bold w-1/4 text-center">
          {{#power-select-with-create
            options=paymentAmountOptions
            selected=recurring.amount
            onchange=(action (mut recurring.amount))
            oncreate=(action "createPayment")
            buildSuggestion=(action "customSuggestion") as |amount|
          }}
            {{format-currency amount}}
          {{/power-select-with-create}}
        </p>
        <p class="w-1/4 text-center text-sm capitalize">
          {{#power-select options=paymentFrequencyOptions selected=recurring.frequency searchEnabled=false onchange=(action (mut recurring.frequency)) as |year|}}
            {{year}}
          {{/power-select}}
        </p>
        <p class="text-sm w-1/4 text-center text-grey-dark">
          since {{moment-format recurring.startDate 'YYYY/MM/DD'}}
        </p>
        <p class="text-sm w-1/4 text-center">
          {{#power-select options=cards selected=recurring.card searchEnabled=false onchange=(action (mut recurring.card)) as |card|}}
            {{fa-icon "credit-card"}} {{card.type}} ends with {{card.number}}
          {{/power-select}}
        </p>
      </div>
    </div>
  </div>
</div>
