<!-- Two columns -->
<div class="flex mb-4 container mx-auto">
  <div class="w-1/4 bg-grey-light h-screen">
    <div class="logo text-center py-8">
      DAVOS
    </div>
    <div class="menu text-left">
      <ul class="list-reset pl-8 ml-8">
        <li class="py-2">
          {{#link-to "index" class="no-underline text-black"}}
            <span>  {{fa-icon "clipboard"}} </span>
            Dashboard
          {{/link-to}}
        </li>
        <li class="py-2">
          <span>  {{fa-icon "usd"}} </span>
          Account
        </li>
        <li class="py-2">
          <span>  {{fa-icon "download"}} </span>
          Receipts
        </li>
        <li class="py-2">
          <span>  {{fa-icon "plane"}} </span>

          Discover
        </li>
      </ul>
    </div>
  </div>
  {{outlet}}
</div>
