<div class="w-1/7 bg-white min-h-screen">
  <div class="logo text-center py-8 font-bold">
    <img src="/img/Davos_logo_fullcolour.svg" class="w-32" alt="davos">
  </div>
  <div class="menu text-left pt-1">
    <ul class="list-reset">
      <li class="py-2 pl-1">
        {{#link-to "index" class="menu no-underline font-light"}}
          <span class="left-icon rounded-full h-3 w-3 flex items-center justify-center float-left -ml-3 mt-1"></span>
          <div class="w-48 m-auto pl-8">
            <span class="icon-home w-4 h-4 inline-block mr-6"></span>
            Donations
          </div>
        {{/link-to}}
      </li>
      <li class="py-2 pl-1">
        {{#link-to "account" class="menu no-underline font-light"}}
          <span class="left-icon rounded-full h-3 w-3 flex items-center justify-center float-left -ml-3 mt-1"></span>
          <div class="w-48 m-auto pl-8">
            <span class="icon-account w-4 h-4 inline-block mr-6"></span>
            Account
          </div>
        {{/link-to}}
      </li>
    </ul>
  </div>
</div>
<div class="w-6/7 min-h-screen flex flex-col bg-grey-lightest">
  <section class="bg-purple-gradient h-100">
    <div class="w-4/5 m-auto flex px-8 container">
      <div class="flex-1 mt-8">
        <p class="p-1 text-sm text-white font-bold mt-8 pt-3 uppercase">Welcome back, {{model.fname}}!</p>
        <p class="text-2xl text-white font-light pl-1 tracking-wide">This month you"re donating <span class="text-white font-bold text-3xl" data-test-id="total donation amount">{{format-currency activeAmount}}</span> <span class="uppercase text-xs">cad</span></p>
        <p class="pl-1 text-white font-black text-2xl mt-1">{{fa-icon "angle-down"}}</p>
      </div>

      <div class="text-right">
        <nav class="flex items-center justify-between flex-wrap p-6">
          <div class="w-full block flex-grow text-white">
            <div>
              <button class="inline-block mr-6 text-white no-underline align-middle">
                <img src="/img/icons/Bell.svg" class="w-4 align-middle" alt="notifications">
              </button>
              {{#link-to "account" class="inline-block mr-1 no-underline"}}
                <img src="/img/icons/account-white.svg" class="w-4 align-middle" alt="account">
              {{/link-to}}
              {{#basic-dropdown as |dropdown|}}
                {{#dropdown.trigger class="inline-block ml-2 logout"}}
                  <button class="inline-block no-underline text-white font-semibold text-sm align-middle capitalize focus:outline-none active:outline-none">
                    {{model.fname}} {{model.lname}}
                  </button>{{/dropdown.trigger}}
                {{#dropdown.content class="px-4 py-1 rounded w-32 mt-2"}}
                  <a href="" class="no-underline text-sm text-purple-darkest" onclick={{action "logout"}}>Logout</a>
                {{/dropdown.content}}
              {{/basic-dropdown}}
            </div>
          </div>
        </nav>
      </div>
    </div>
  </section>


  {{#if activeDonations}}
    <section class="flex flex-wrap w-3/5 px-8 -mt-20 mx-auto container">
      <div class="w-1/2 -mt-8 pl-1">
        <p class="text-lg text-white font-thin">Active Donations</p>
      </div>
    </section>

    <section class="flex flex-wrap content-start w-3/5 mx-auto mt-4 pt-2 container flex-grow">

      {{#each activeDonations as |ongoingDonation|}}
        {{recurring-payment-mini gift=ongoingDonation campaign=ongoingDonation.campaign relationship=ongoingDonation.DonorOrganizationRelationship amount=ongoingDonation.amount onSave=(action "saveRecurring")}}
      {{/each}}

    </section>
  {{else}}

    <section class="flex flex-wrap w-3/5 px-8 -mt-20 mx-auto container">
      <div class="w-1/2 -mt-8 pl-1">
        <p class="text-lg text-white font-thin">No Active Donations</p>
      </div>
    </section>

    <section class="flex flex-wrap content-start w-3/5 mx-auto mt-4 pt-2 container flex-grow">
      <section class="flex flex-wrap w-3/5 mx-auto mt-8 px-8 container">
        <div class="w-1/2 mt-8">
          <p class="text-lg font-thin text-grey-card-2">Past Donations</p>
        </div>
      </section>

      <section class="flex flex-wrap content-start w-3/5 pt-8 mt-4 mx-auto container">
        <div class="w-44 h-44 h-44rounded-lg overflow-hidden shadow-md -mt-4 mx-2 mb-8 mr-4">
          <div class="image w-full h-44 bg-white flex items-center">
            <img src="/img/chv.png" class="w-3/4 mx-auto" alt="back">
          </div>
        </div>
      </section>
    </section>
  {{/if}}

  <section class="flex flex-wrap w-3/5 mx-auto text-sm pt-8 pb-8 container">
    <div class="w-1/3 text-grey-dark border-grey-light border-solid border-t text-purple-footer py-8">
      <p><span class="font-bold">©2019 Davos.gives</span> - All rights reserved.</p>
    </div>
    <div class="w-1/3 text-grey-dark text-center border-grey-light border-solid border-t py-7 -py-1">
      <img src="/img/Davos_slogan.svg" class="w-40" alt="davos - give meaning">
    </div>

    <div class="w-1/3 text-right flex text-grey-dark border-grey-light border-solid border-t py-8 text-xs">
      <p class="w-1/3">
        Terms of Use
      </p>
      <p class="w-1/3">
        Privacy Policy
      </p>
      <p class="w-1/3">
        Cookie Policy
      </p>
    </div>
  </section>
</div>
